name: arpit devops job

#trigger point

on:
  push:
    branches: ["master"]
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

#creating jobs
jobs:
  test-job:
     runs-on: ubuntu-latest
     steps: #wht exactly the job would be doing
      - name: my first step to test github action
        run: |
          echo "hello world"
          git version
          whoami
          ls -a
          terraform version
          docker version
  
